Q.1
  12
  1234
  12345

In [3]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(j,end="")
        j=j+1
    print()
    i=i+1

5
1
12
123
1234
12345

Q.1
  22
  333
  4444
  55555

In [7]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(i,end="")
        j=j+1
    print()
    i=i+1

5
1
22
333
4444
55555

Q. 5
   55
   555
   5555
   55555

In [8]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print(n,end="")
        j=j+1
    print()
    i=i+1

5
5
55
555
5555
55555

Q. *
   **
   ***
   ****
   *****

In [10]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=i:
        print("*",end="")
        j=j+1
    print()
    i=i+1

5
*
**
***
****
*****

Q.55555
  55555
  55555
  55555
  55555

In [22]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n:
        print(n,end="")
        j=j+1
    print()
    i=i+1

5
55555
55555
55555
55555
55555

Q. 11111
   11111
   11111
   11111
   11111

In [26]:
n=int(input())
i=1
p=1
while i<=n:
    j=1
    while j<=n:
        print(p,end="")
        j=j+1
    print()
    i=i+1

5
11111
11111
11111
11111
11111

Q. 1
   11
   202
   3003

In [27]:
n=int(input())
i=1
print(1)
while i<=n-1:
    print(i,end="")
    j=2
    while j<=i:
        print(0,end="")
        j=j+1
    print(i)
    i=i+1

4
1
11
202
3003

Q. 1
   11
   121
   1221

In [33]:
n=int(input())
i=1
print(1)
while i<=n-1:
    print(1,end="")
    j=2
    while j<=i:
        print(2,end="")
        j=j+1
    print(1)
    i=i+1

4
1
11
121
1221

Q. 1234
   123
   12
   1

In [34]:
n=int(input())
i=0
while i<n:
    j=1
    while (j<n-i+1):
        print(j,end="")
        j=j+1
    i=i+1
    print()

4
1234
123
12
1

Q. A
   BC
   CDE
   DEFG

In [35]:
n=int(input())
i=1
while i<=n:
    j=1
    char=ord('A')+i-1
    while j<=i:
        print(chr(char+j-1),end="")
        j=j+1
    print()
    i=i+1

4
A
BC
CDE
DEFG

Q. 4444
   333
   22
   1

In [6]:
n=int(input())
i=1
while i<=n:
    j=1
    while j<=n-i+1:
        print(n-i+1,end="")
        j=j+1
    print()

    i=i+1

4
4444
333
22
1

Q.    1
     12
    123
   1234

In [12]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces <= n-i :
        print('',end=" ")
        spaces=spaces+1
    j=1
    while j<=i:
        print(j,end="")
        j=j+1
    print()
    i=i+1

4
   1
  12
 123
1234

Q.    *
     ***
    *****
   *******

In [17]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces <= n-i :
        print('',end=" ")
        spaces=spaces+1
    star=1
    while star<=(2*i)-1:
        print("*",end="")
        star=star+1
    print()
    i=i+1

4
   *
  ***
 *****
*******

Q.  1
   232
  34543
 4567654

In [7]:
n=int(input())
i=1
while i<=n:
    spaces=1
    while spaces<=n-i:
        print(" ",end="")
        spaces=spaces+1
    j=1
    p=i
    while j<=i:
        print(p,end="")
        p=p+1
        j=j+1
    j=1
    p=2*i-2
    while j<=i-1:
        print(p,end="")
        p=p-1
        j=j+1
    print()
    i=i+1

4
   1
  232
 34543
4567654

In [12]:
n=int(input())
for i in range (n):
    for j in range (n):
        print("*",end=" ")
    print()

4
* * * *
* * * *
* * * *
* * * *

INCREASING TRIANGLE

In [13]:
n=int(input())
for i in range (n):
    for j in range (i+1):
        print("*",end="")
    print()

4
*
**
***
****

DECREASING TRIANGLE

In [14]:
n=int(input())
for i in range (n):
    for j in range(i,n):
        print("*",end="")
    print()

4
****
***
**
*

In [15]:
n=int(input())
for i in range (n):
    for j in range (i+1):
        print("*",end="")
    print()
for i in range (n):
    for j in range(i,n):
        print("*",end="")
    print()

4
*
**
***
****
****
***
**
*

In [18]:
n=int(input())
for i in range (n):
    for j in range(i,n):
        print(" ",end="")
    for j in range (i+1):
        print("*",end="")
    print()

4
    *
   **
  ***
 ****

In [17]:
n=int(input())
for i in range (n):
    for j in range (i+1):
        print(" ",end="")
    for j in range(i,n):
        print("*",end="")
    print()

4
 ****
  ***
   **
    *

In [24]:
n=int(input())
for i in range (n):
    for j in range(i,n):
        
        print(" ",end="")
    for j in range (i):
        print("*",end="")
    for j in range (i+1):
        print("*",end="")
    for j in range(i,n):
        print(" ",end="")
    print()

4
    *
   ***
  *****
 *******

In [29]:
n=int(input())
for i in range (n):
    for j in range (i+1):
        print(" ",end="")
    for j in range(i,n-1):
        print("*",end="")
    for j in range(i,n):
        print("*",end="")
    for j in range (i+1):
        print(" ",end="")
    print()

4
 *******
  *****
   ***
    *

In [39]:
n=int(input())
for i in range (n-1):
    for j in range(i,n):
        
        print(" ",end="")
    for j in range (i):
        print("*",end="")
    for j in range (i+1):
        print("*",end="")
    for j in range(i,n):
        print(" ",end="")
    print()
for i in range (n):
    for j in range (i+1):
        print(" ",end="")
    for j in range(i,n-1):
        print("*",end="")
    for j in range(i,n):
        print("*",end="")
    for j in range (i+1):
        print(" ",end="")
    print()

4
    *
   ***
  *****
 *******
  *****
   ***
    *

In [2]:
n=int(input())
p=1
for i in range (n):
    for j in range (i+1):
        print(p,end="")
        
    print()
    p=p+1

4
1
22
333
4444

In [6]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    for j in range(0,2*n-2*i):
        print(" ",end='')
    for j in range(i,0,-1):
        print(j,end='')
    print('')

5
1        1
12      21
123    321
1234  4321
1234554321

In [17]:
n=int(input())
start=1
end=n*2+1
mid=n+1
i=1
while (i<=n):
    j=1
    while j<=(n*2+1):
        if j==start or j==end or j==mid :
            print("*",end="")
        else:
            print("0",end="")
        j=j+1
    start=start+1
    end=end-1
    i=i+1
    print()

5
*0000*0000*
0*000*000*0
00*00*00*00
000*0*0*000
0000***0000

Q. 1111
   000
   11
   0

In [2]:
n=int(input())
for i in range(0,n):
    for j in range(n-i,0,-1):
        if (i%2==0):
            print(1,end="")
        else:
            print(0,end="")
    print()

4
1111
000
11
0

In [ ]:
123456
  23456
    3456
      456
        56
          6
        56
      456
    3456
  23456
123456

In [ ]:
n=int(input())
i=0
while i<n:
    for j in range (i+1):
        print(" ",end="")
    j=1
    while (j<n-i+1):
        print(j,end="")
        j=j+1
    print()
    for i in range (n):
        for j in range(i,n):
            print(" ",end="")
        for j in range(0,2*n-2*i):
            print(" ",end='')
        for j in range(i,0,-1):
            print(j,end='')
        print()
        i=i+1

In [1]:
n = int(input())
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end='')
    for j in range(0,2*n-2*i):
        print(" ",end='')
i=0
while i<n:
    j=1
    while (j<n-i+1):
        print(j,end="")
        j=j+1
    i=i+1
    print()

5
1        12      123    1234  1234512345
1234
123
12
1